.git
.gitignore
.github

rustmail/*
rustmail_panel/
rustmail_types/
target/
**/Cargo.toml
**/Cargo.lock

*.md
LICENSE
docs/

*.yml
*.yaml

*.swp
*.swo
*~
.DS_Store
.vscode
.idea

db/
*.db
*.sqlite
config.toml

rustmail-*.tar.gz
rustmail-*.zip

tests/
**/*_test.rs