name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rustmail - latest
    runs-on: self-hosted
    env:
      SQLX_OFFLINE: true
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4

      - name: Setup Rust environment
        run: |
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          echo "CARGO_HOME=$HOME/.cargo" >> $GITHUB_ENV
          echo "RUSTUP_HOME=$HOME/.rustup" >> $GITHUB_ENV

      - name: Cache Cargo dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry/index
            ~/.cargo/registry/cache
            ~/.cargo/git/db
            target
          key: ${{ runner.os }}-cargo-${{ matrix.toolchain }}-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-${{ matrix.toolchain }}-

      - name: Build frontend
        working-directory: rustmail_panel
        run: trunk build --release --dist ../rustmail/static --config Trunk.toml

      - name: Build Rust backend
        run: cargo build --verbose -p rustmail

      - name: Run tests
        run: cargo test --verbose -p rustmail