name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rustmail - latest
    runs-on: ubuntu-latest
    env:
      SQLX_OFFLINE: true
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}

      - name: Install trunk and wasm target
        run: |
          rustup target add wasm32-unknown-unknown
          cargo install trunk --locked

      - name: Build frontend
        working-directory: rustmail_panel
        run: |
          rm -rf dist .trunk
          trunk clean
          trunk build --release --dist ../rustmail/static --config Trunk.toml

      - name: Build Rust backend
        run: cargo build --verbose -p rustmail

      - name: Run tests
        run: cargo test --verbose -p rustmail