name: Cargo Build & Test

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rustmail - latest
    runs-on: self-hosted
    env:
      SQLX_OFFLINE: true
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
        with:
          clean: 'false'

      - name: Setup Rust environment
        run: |
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH
          echo "CARGO_HOME=$HOME/.cargo" >> $GITHUB_ENV
          echo "RUSTUP_HOME=$HOME/.rustup" >> $GITHUB_ENV

      - name: Build frontend
        working-directory: rustmail_panel
        run: trunk build --release --dist ../rustmail/static --config Trunk.toml

      - name: Build Rust backend
        run: cargo build --verbose -p rustmail

      - name: Run tests
        run: cargo test --verbose -p rustmail